@mixin displayFlex ($gap: 0.5em) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
}

@mixin displayGrid ($columns: 100%, $rows: unset, $align-items: center) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    align-items: $align-items;

}

header.dashboard-header {
    @include displayGrid ();

    & div.top {
        display: grid;
        grid-template-columns: 80% 20%; 

        & div.search {
           display: flex;
           align-items: center;
           gap: 0.6em;
           

           & input {
            width: 85%;
           }
        }

        & div.actions1 {
            width: 100%;
            
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            
            & svg {
                justify-self: center;
            }

            & div.profile {
                
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 1em;
            }
        }
    }

    & div.bottom {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        

        & div.profile-bottom {
            
            display: grid;
            grid-template-columns: 10% 90%;
            align-items: center;
            gap: 2em;
            
            & div.profile-greet {
                display: flex;
                flex-direction: column;
                justify-content: start;
                

                & * {
                    margin: 0;
                }

                
            }
        }

        & div.actions2 {
            justify-self: end;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1.5em;

            
        }
    }
}