@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  width: 100%;
  margin: 0;
  /*display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "dashboard-menu dashboard-header dashboard-header dashboard-header "
    */
}

aside.dashboard-menu {
  width: 300px;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

aside.dashboard-menu div.dashboard-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.3em;
}

aside.dashboard-menu div.options-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

aside.dashboard-menu div.options-container ul {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: start;
  gap: 0em;
}

aside.dashboard-menu div.options-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.7em;
}

aside.dashboard-menu {
  background-color: #069ce7;
  padding: 0.5em 0em 0em 1em;
}

aside.dashboard-menu svg path {
  fill: white;
}

aside.dashboard-menu * {
  font-family: 'Roboto', sans-serif;
  color: white;
}

aside.dashboard-menu div.dashboard-title p {
  font-size: 1.8em;
  color: white;
  font-weight: 600;
}

aside.dashboard-menu div.dashboard-title svg {
  width: 60px;
}

aside.dashboard-menu div.options-container ul {
  list-style-type: none;
  padding: 16px;
}

aside.dashboard-menu div.options-container ul li p {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

aside.dashboard-menu div.options-container ul li svg {
  width: 25px;
}
