@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header.dashboard-header {
  border: 2px solid;
  width: 70%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: unset;
  align-items: center;
}

header.dashboard-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

header.dashboard-header div.top div.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

header.dashboard-header div.top div.actions1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.7em;
}

header.dashboard-header div.top div.actions1 div.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

header.dashboard-header div.bottom div.profile-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

header.dashboard-header div.bottom div.profile-bottom div.profile-greet {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  grid-template-areas: "profile phrase" "profile name";
}

header.dashboard-header div.bottom div.actions2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

header.dashboard-header {
  padding: 1em 2em;
}

header.dashboard-header * {
  font-family: 'Roboto', sans-serif;
}

header.dashboard-header div.top div.search svg {
  width: 30px;
}

header.dashboard-header div.top div.search input {
  border: none;
  outline: none;
  width: 90%;
  border-radius: 15px;
  background-color: lightgrey;
  font-size: 1.3em;
}

header.dashboard-header div.top div.actions1 svg {
  width: 26px;
}

header.dashboard-header div.bottom div.profile-bottom svg {
  width: 75px;
}

body {
  width: 100%;
  margin: 0;
  /*display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "dashboard-menu dashboard-header dashboard-header dashboard-header "
    */
}

aside.dashboard-menu {
  width: 300px;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

aside.dashboard-menu div.dashboard-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.3em;
}

aside.dashboard-menu div.options-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

aside.dashboard-menu div.options-container ul {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: start;
  gap: 0em;
}

aside.dashboard-menu div.options-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.7em;
}

aside.dashboard-menu {
  display: none;
  background-color: #069ce7;
  padding: 0.5em 0em 0em 1em;
}

aside.dashboard-menu svg path {
  fill: white;
}

aside.dashboard-menu * {
  font-family: 'Roboto', sans-serif;
  color: white;
}

aside.dashboard-menu div.dashboard-title p {
  font-size: 1.8em;
  color: white;
  font-weight: 600;
}

aside.dashboard-menu div.dashboard-title svg {
  width: 60px;
}

aside.dashboard-menu div.options-container ul {
  list-style-type: none;
  padding: 16px;
}

aside.dashboard-menu div.options-container ul li p {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

aside.dashboard-menu div.options-container ul li svg {
  width: 25px;
}

main.dashboard-main {
  display: none;
}
