main.dashboard-main {
  display: grid;
  grid-template-columns: 1fr 30%;
}

main.dashboard-main div.left {
  margin-right: 2em;
}

main.dashboard-main div.left div.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

main.dashboard-main div.left div.projects-container div.projects {
  display: grid;
  grid-template-columns: 1fr 50%;
  gap: 2em;
}

main.dashboard-main div.left div.projects-container div.projects div.project {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main.dashboard-main div.left div.projects-container div.projects div.project div.project-info {
  text-align: left;
}

main.dashboard-main div.left div.projects-container div.projects div.project div.project-actions {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: end;
}

main.dashboard-main div.left div.projects-container div.projects div.project div.project-actions svg {
  width: 28px;
}

main.dashboard-main div.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.dashboard-main div.right div.announcements-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

main.dashboard-main div.right div.announcements-container div.announcements {
  display: grid;
  grid-template-columns: 100%;
}

main.dashboard-main div.right div.announcements-container div.announcements div.announcement {
  display: grid;
  grid-template-columns: 100%;
  width: 90%;
}

main.dashboard-main div.right div.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

main.dashboard-main div.right div.trending-container div.trending {
  display: grid;
  grid-template-columns: 100%;
}

main.dashboard-main div.right div.trending-container div.trending div.t-profile {
  display: grid;
  grid-template-columns: 15% 40%;
  align-items: center;
  justify-content: start;
}

main.dashboard-main div.right div.trending-container div.trending div.t-profile div.t-profile-info {
  line-height: 0.3rem;
}
