header.dashboard-header {
  padding: 1em 2em;
}

header.dashboard-header * {
  font-family: 'Roboto', sans-serif;
}

header.dashboard-header div.top div.search svg {
  width: 30px;
}

header.dashboard-header div.top div.search input {
  border: none;
  outline: none;
  width: 90%;
  border-radius: 15px;
  background-color: lightgrey;
  font-size: 1.3em;
}

header.dashboard-header div.top div.actions1 svg {
  width: 26px;
}

header.dashboard-header div.bottom div.profile-bottom svg {
  width: 75px;
}
